<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CarritoControllerServiceSoapBinding" />
                <binding name="FacturaControllerServiceSoapBinding" />
                <binding name="ProductoControllerServiceSoapBinding" />
                <binding name="LoginControllerServiceSoapBinding" />
                <binding name="ClientesControllerServiceSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/servicio_web_master/FacturaController"
                binding="basicHttpBinding" bindingConfiguration="FacturaControllerServiceSoapBinding"
                contract="ServiceFactura.FacturaController" name="FacturaControllerPort" />
            <endpoint address="http://DESKTOP-VIRQCT0:8089/servicio_web_master/LoginController"
                binding="basicHttpBinding" bindingConfiguration="LoginControllerServiceSoapBinding"
                contract="ServiceLogin.LoginController" name="LogCtlPort" />
            <endpoint address="http://DESKTOP-VIRQCT0:8089/servicio_web_master/ProductoController"
                binding="basicHttpBinding" bindingConfiguration="ProductoControllerServiceSoapBinding"
                contract="ServiceProducto.ProductoController" name="ProCtlPort" />
            <endpoint address="http://DESKTOP-VIRQCT0:8089/servicio_web_master/CarritoController"
                binding="basicHttpBinding" bindingConfiguration="CarritoControllerServiceSoapBinding"
                contract="ServiceCarrito.CarritoController" name="CarriControPort" />
            <endpoint address="http://DESKTOP-VIRQCT0:8089/servicio_web_master/ClientesController"
                binding="basicHttpBinding" bindingConfiguration="ClientesControllerServiceSoapBinding"
                contract="ServicioCliente.ClientesController" name="CliCtlPort" />
        </client>
    </system.serviceModel>
</configuration>